html, body{
	background-image: url('https://cdn.pixabay.com/photo/2013/07/12/18/17/equalizer-153212_960_720.png');
	background-size: 500px 400px;
}

#songCover {
	display: block ;
	margin-bottom: 10px ;
}

body {
	font-family: 'Anton', sans-serif;

}

p, .buttons {
	text-align: center;
	font-family: 'Anton', sans-serif;
	color: white;
}

img {
	position: relative;
	top: 10%;
	left: 45%;
	width: 250px;
	margin-left: -50px;
	margin-right: -50px;
}